name: CI/CD Deploy Private App

on:
  push:
      branches: [ main ]

jobs:
  deploy:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout Code
          uses: actions/checkout@v4

        - name: Copy files to private EC2 via Bastion
          uses: appleboy/scp-action@master
          with:
            host: ${{ secrets.PRIVATE_EC2_IP }}
            username: ec2-user
            key: ${{ secrets.PRIVATE_EC2_KEY }}
            port: 22
            source: "app.py"
            target: "/opt/app/"
            proxy: ${{ secrets.BASTION_HOST }}
            proxy_user: ${{ secrets.BASTION_USER }}
            proxy_key: ${{ secrets.BASTION_KEY }}


        - name: Restart app service
          uses: appleboy/ssh-action@v1.0.3
          with:
            host: ${{ secrets.BASTION_HOST }}
            username: ${{ secrets.BASTION_USER }}
            key: ${{ secrets.BASTION_KEY }}
            port: 22
            script: |
              ssh -i ~/.ssh/private_ec2_key -o StrictHostKeyChecking=no ec2-user@${{ secrets.PRIVATE_EC2_IP }} << 'EOF'
                sudo systemctl restart app.service
              EOF




