name: CI/CD Deploy Private App

on:
  push:
      branches: [ main ]

jobs:
  deploy:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout Code
          uses: actions/checkout@v4

        - name: Deploy via Bastion to Private EC2
          uses: appleboy/ssh-action@v1.0.3
          with:
            host: ${{ secrets.BASTION_HOST }}
            username: ${{ secrets.BASTION_USER }}
            key: ${{ secrets.BASTION_KEY }}
            port: 22
            script: |
              echo "Connected to bastion"
